body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(181, 111, 247);
}

h1 {
    margin-bottom: 20px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 100px);   /*Las tarjetas se reparten en 4 columnas de 100px*/
    grid-gap: 10px;   /*Espacio entre tarjetas*/
}

.card {
    width: 100px;
    height: 125px;
    background-color: bisque;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;   /*Previene la selección de texto*/
}

.card.volteada {
    background-color: rgb(243, 242, 240);   /*Color cuando la tarjeta está dada vuelta*/
}

.card.match {
    background-color: #ee6cee;   /*Color para las tarjetas que hacen match*/
    cursor: default;   /*Desactiva el puntero para las tarjetas que ya hicieron match*/
}

#mensaje {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#reiniciar {
    background-color: bisque;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
